@import "colors";
@import "common";
@import "bootstrap-overrides";

@font-face {
  font-family: 'Alegreya';
  src: url('../fonts/AlegreyaSans-Regular.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/AlegreyaSans-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
      //  url('webfont.woff2') format('woff2'), /* Super Modern Browsers */
      //  url('webfont.woff') format('woff'), /* Pretty Modern Browsers */
      //  url('webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Hiragino';
  src: url('/static/fonts/Hiragino.ttc');
}

.brand-font {
  font-family: serif;
}

body {
  color: white;
  font-family: 'Alegreya', serif;
  font-size: 16px;
  background-color: @color-back;
  padding-top: 10px;
  padding-bottom: 55px;
  height: 100%;
}
#app {
  height: 100%;
}
h2 {
  color: #eee;
}
a {
  color: @color-button-hover-text;
  &:hover {
    color: @color-callout;
    text-decoration: none;
  }
}
@media (max-width: 400px) {
  p {
    font-size: 18px;
  }
}

.light {
  font-weight: lighter;
}

::-webkit-scrollbar
{
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-track
{
  background: transparent;
}
::-webkit-scrollbar-thumb
{
  background: @color-back-raised;
}

hr {
  border-color: @color-back-raised;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: @color-input-placeholder;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: @color-input-placeholder;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: @color-input-placeholder;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: @color-input-placeholder;
  font-style: italic;
}

.nopad-top {
  padding-top: 0px;
}
.nopad-bottom {
  padding-bottom: 0px;
}
.nopad-left {
  padding-left: 0px;
}
.nopad-right {
  padding-right: 0px;
}

.main-background {
  background-color: @color-back;
  padding-top: 8px;
}

.bottompad {
  padding-bottom: 200px;
}

.bottombar {
  padding: 5px;
  padding-bottom: 8px;
  box-shadow: @shadow-top;
  z-index: 100;
  background: @color-back;
  background: linear-gradient(@color-back-raised 0px, @color-back 20px, @color-back);
  border-top: solid 1px @color-back-raised2;
}

.actionbar {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
  padding: 5px;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.9);;
  background-color: @color-back;
  button {
    letter-spacing: 1px;
  }
}
.flex-v {
  display: flex;
  flex-direction: column;
  height: 100%
}
.flex-1 {
  flex: 1;
  overflow-y: scroll;
}
.actionbar-flex {
  flex: none;
  z-index: 100;
  width: 100%;
  padding: 5px;
  box-shadow: 0px -3px 15px rgba(0, 0, 0, 0.9);
  background-color: @color-back-raised;
  button {
    letter-spacing: 1px;
  }
}

.vfull {
  height: 100%;
}
.vthird {
  height: 33.33%;
}
.hthird {
  width: 33.33%;
}

.scrolly {
  overflow-y: scroll;
}
.scrollx {
  overflow-x: scroll;
}

.add-button, .edit-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  circle, line {
    stroke: @color-actionable;
  }
}
.close-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  circle, line {
    stroke: @color-callout-light;
  }
}
