@import "colors";
@import "common";
@import "bootstrap-overrides";
@import "type";

body {
  .app-font;
  height: 100%;
}
#app, #application {
  height: 100%;
}
a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  opacity: 0.85;
}

.light {
  font-weight: lighter;
}

// SCROLLBAR
::-webkit-scrollbar
{
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-track
{
  background: transparent;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: @color-deemphasize;
  font-style: italic;
}
::-moz-placeholder { /* Firefox 19+ */
  color: @color-deemphasize;
  font-style: italic;
}
:-ms-input-placeholder { /* IE 10+ */
  color: @color-deemphasize;
  font-style: italic;
}
:-moz-placeholder { /* Firefox 18- */
  color: @color-deemphasize;
  font-style: italic;
}

.nopad {
  padding: 0px;
}
.nopad-top {
  padding-top: 0px;
}
.nopad-bottom {
  padding-bottom: 0px;
}
.nopad-left {
  padding-left: 0px;
}
.nopad-right {
  padding-right: 0px;
}

.nowrap {
  white-space: nowrap;
}

// VIEW ITEMS
.list-item {
  padding: 10px;
  padding-left: 8px;
  &:hover {
    cursor: pointer;
  }
  p {
    margin: 0px;
  }
}

.bottompad {
  padding-bottom: 200px;
}

.bottombar {
  padding: 5px;
  padding-bottom: 8px;
  z-index: 100;
}
.bottombar.nopad {
  padding: 0px;
}

.vfull {
  height: 100%;
}
.vthird {
  height: 33.33%;
}
.hthird {
  width: 33.33%;
}

.scrolly {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.scrollx {
  overflow-x: scroll;
}

.substance {
  .scrolly;
  .bottompad;
  padding-top: 15px;
}

.close-button {
  width: 100%;
  height: 100%;
  cursor: pointer;
  circle, line {
    stroke: @color-highlight-red;
  }
}
