@color-text: white;
@color-back: #001318;
@color-back-raised: #292934;
@color-back-raised2: #494959;
@color-back-highlight: #424245;

@color-warning: #6495ed;

@color-actionable: #D4AF37;
@color-actionable-focus: #C49F27;
@color-actionable-disabled: #EAE0D8;

@color-help-back: #eaeaea;
@color-help: #483d8b;
@color-help-secondary: #666669;

@color-text-accent: #ffeacc;
@color-input-placeholder: #797989;
@color-deemphasize: #bbb;
@color-deemphasize-more: #888;
@color-callout: #9A3B39;
@color-callout-light: #aA4B49;
@color-selection1: #8d1;

@color-highlight-green: #03C03C;
@color-highlight-orange: #FFB347;
@color-highlight-red: #FF6961;
@color-highlight-purple: #B19CD9;
@color-highlight-blue: #00CFF0;
@color-highlight-green: #77DD77;

@color-button-hover-text: white;
@color-disabled-button: #fff;
@color-disabled-button-text: #111;

@color-border: #00111f;

@shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
@shadow-long: 0px 1px 15px rgba(0, 0, 0, 0.9);
@shadow-light: 0px 1px 2px rgba(200, 200, 200, 0.5);
@shadow-top: 0px -3px 12px rgba(0, 0, 0, 0.9);

.accent {
  color: @color-text-accent;
}
.actionable {
  color: @color-actionable;
}
.muted {
  color: @color-deemphasize;
}

.back-green {
  background-color: @color-highlight-green !important;
}
.back-orange {
  background-color: @color-highlight-orange !important;
}
.back-red {
  background-color: @color-highlight-red !important;
}
.back-purple {
  background-color: @color-highlight-purple !important;
}

.orange {
  color: @color-highlight-orange;
}
.blue {
  color: @color-highlight-blue;
}
.purple {
  color: @color-highlight-purple;
}
.red {
  color: @color-highlight-red;
}
.green {
  color: @color-highlight-green;
}

.shadow {
  box-shadow: @shadow;
}
.shadow-light {
  box-shadow: @shadow-light;
}
.shadow-long {
  box-shadow: @shadow-long;
}
