@titlebar-height: 48px;
@help-zindex: 1000;

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pulse {
  animation: pulse 1.8s infinite;
}
@keyframes pulse {
  0%   { opacity: 1; }
  50%   { opacity: 0.3; }
  100%   { opacity: 1; }
}

.expand {
  animation: expand 1.8s forwards;
}
@keyframes expand {
  0%   { max-height: 0px; }
  90%   { max-height: 1000px; }
  100%   { max-height: none; }
}
.contract {
  animation: contract .8s forwards;
}
@keyframes contract {
  0%   { max-height: 1000px; }
  20%   { max-height: 300px; }
  100%   { max-height: 0px; }
}
