.word {
  float: left;
  color: white;
  text-align: center;
  min-width: 32px;
  background-color: @color-back-raised;
  margin-top: 2px;
  margin-bottom: 2px;
  border: solid 1px @color-back;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.word.selected {
  background-color: @color-highlight-blue;
  color: @color-back;
  word-wrap: normal;
  border-radius: 0px;
  border-right: solid 1px @color-back-raised2;
  border-left: solid 1px transparent;
  border-top: solid 1px @color-back-raised2;
  border-bottom: solid 1px @color-back-raised2;
  &.start {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-left: solid 1px @color-back-raised2;
  }
  &.end {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-right: solid 1px @color-back-raised2;
  }
}
.word.highlighted {
  border-radius: 0px;
  border: solid 1px @color-highlight-blue;
  &.start {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
  }
  &.end {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
  }
}
.word.filled {
  background-color: @color-callout;
}
